<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:orientation="vertical"
    android:background="#f5f5f5">

    <LinearLayout
        android:id="@+id/headerLinearLayout"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:padding="16dp"
        android:background="#00a880"
        android:layout_marginBottom="0.0dp">

        <ImageView
            android:layout_width="60dp"
            android:layout_height="60dp"
            android:layout_gravity="center"
            android:layout_marginBottom="10dp"
            android:src="@drawable/logo_loms" />


        <LinearLayout
            android:id="@+id/userInfoSection"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="horizontal"
            android:clickable="true"
            android:focusable="true">

            <ImageView
                android:id="@+id/profileImageView"
                android:layout_width="50dp"
                android:layout_height="50dp"
                android:src="@drawable/images"
                android:scaleType="centerCrop" />

            <LinearLayout
                android:layout_width="1dp"
                android:layout_height="wrap_content"
                android:layout_weight="1"
                android:orientation="vertical"
                android:layout_marginStart="16dp">

                <TextView
                    android:id="@+id/userNameTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="Nguyễn Văn A"
                    android:textSize="18sp"
                    android:textColor="#FFFFFF"
                    android:textStyle="bold" />

                <TextView
                    android:id="@+id/emailTextView"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="ANV1995@gmail.com"
                    android:textSize="14sp"
                    android:textColor="#FFFFFF"/>

            </LinearLayout>

        </LinearLayout>

    </LinearLayout>

    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_weight="1">

        <LinearLayout
            android:id="@+id/menuItemsLinearLayout"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:padding="16dp">

            <TextView
                android:id="@+id/helpAndAboutTitleTextView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Help and Introduction"
                android:textSize="16sp"
                android:textColor="#000000"
                android:textStyle="bold"
                android:layout_marginBottom="8dp"/>

            <LinearLayout
                android:id="@+id/helpLinearLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="8dp">

                <TextView
                    android:id="@+id/helpTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Help"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <LinearLayout
                android:id="@+id/aboutLinearLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="16dp">

                <TextView
                    android:id="@+id/aboutTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="About as"
                    android:textSize="16sp"
                    android:textColor="#000000"/>


            </LinearLayout>

            <TextView
                android:id="@+id/mainFunctionsTitleTextView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Main function"
                android:textSize="16sp"
                android:textColor="#000000"
                android:textStyle="bold"
                android:layout_marginBottom="8dp"/>

            <LinearLayout
                android:id="@+id/productListLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="8dp">

                <TextView
                    android:id="@+id/productListTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Product Management"
                    android:textSize="16sp"
                    android:textColor="#000000"/>


            </LinearLayout>

            <LinearLayout
                android:id="@+id/orderManagementLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="16dp">

                <TextView
                    android:id="@+id/orderManagementTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Order Management"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <LinearLayout
                android:id="@+id/LiveManagement"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="16dp">

                <TextView
                    android:id="@+id/LiveManagementTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Livestream"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <TextView
                android:id="@+id/settingsTitleTextView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="Setting"
                android:textSize="16sp"
                android:textColor="#000000"
                android:textStyle="bold"
                android:layout_marginBottom="8dp"/>

            <LinearLayout
                android:id="@+id/fanpageLinkLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="8dp">

                <TextView
                    android:id="@+id/fanpageLinkTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Fanpage link"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <TextView
                android:id="@+id/systemTitleTextView"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:text="System"
                android:textSize="16sp"
                android:textColor="#000000"
                android:textStyle="bold"
                android:layout_marginBottom="8dp"/>

            <LinearLayout
                android:id="@+id/privacyPolicyLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="8dp">

                <TextView
                    android:id="@+id/privacyPolicyTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Privacy Policy"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <LinearLayout
                android:id="@+id/termsOfUseLayout"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:orientation="horizontal"
                android:gravity="center_vertical"
                android:layout_marginBottom="16dp">

                <TextView
                    android:id="@+id/termsOfUseTextView"
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:layout_weight="1"
                    android:text="Terms of Use"
                    android:textSize="16sp"
                    android:textColor="#000000"/>

            </LinearLayout>

            <Button
                android:id="@+id/logout_button"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="Logout"
                android:textColor="#FFFFFF"
                android:background="#8BC34A"/>

        </LinearLayout>

    </ScrollView>
	
	<include layout="@layout/layout_bottom_nav"/>

</LinearLayout>